<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="AKIAJRFTX2WCAHQA42OA"/>
		<add key="AWSSecretKey" value="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"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK" publicKeyToken="cd2d24cd2bace800" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.4.1" newVersion="1.3.4.1"/>
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="AWSSDK.SQS" publicKeyToken="885c28607f98e604" culture="neutral"/>
			<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
		</dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
