<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="AWSAccessKey" value="AKIAJRFTX2WCAHQA42OA"/>
		<add key="AWSSecretKey" value="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"/>
	</appSettings>
</configuration>